doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='style.css')
  body(bgcolor="#f6f6f6")
    // body
    table.body-wrap(bgcolor="#f6f6f6")
      tr
        td.container(bgcolor="#FFFFFF")
          // content
          .content
            table
              tr
                td
                  h1(align="right") برحبا بك, في منظومة الموفد
                  p(align="right") لقد تم طلب إستعادة كلمة المرور ، شكرا لك
                  // button
                  table.btn-primary(border="0")
                    tr
                      td
                        a(href="#{host}") لتسجيل الدخول
                  p(align="right") #{user.password} : كلمة المرور الجديدة

                  p(align="right") 
                    | للمزيد من المعلومات الرجاء الضغط 
                    a(href="http://naga.ly") هنا
                    | , شكرا لك
