<!DOCTYPE html>
<html lang="ar" ng-app="mofed" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Error 404</title>
</head>
<body class="animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            خطأ!
          </h1>
          <h2>
            404 لم يتم العثور
          </h2>
          <div class="error-details">
            عذرا، حدث خطأ، الصفحة المطلوبة غير موجودة!
          </div>
          <div class="error-actions">
            <a href="/" class="btn btn-primary btn-lg">
              <i class="fa fa-sign-in"></i>
              تسجيل الدخول 
            </a>
            <a href="http://mohe.gov.ly" target="_blank" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-envelope"></span> 
              اتصل بنا
            </a>
          </div>
          <pre><%= error.stack %></pre>
        </div>
      </div>
    </div>
  </div>
</body>
</html>