<!DOCTYPE html>
<html lang="en" ng-app="mofed" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mofed App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div ng-view></div>
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular-1.4.7/angular.min.js"></script>
  <script src="/js/angular-1.4.7/angular-route.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>