doctype html
html(lang="en", ng-app="mofed", class="no-js")
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content