doctype html
html
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='style.css')
  body(bgcolor="#f6f6f6")
    // body
    table.body-wrap(bgcolor="#f6f6f6")
      tr
        td.container(bgcolor="#FFFFFF")
          // content
          .content
            table
              tr
                td
                  h1(align="right") مرحبا بك, في منظومة الموفد
                  h4(align="right") تم التطابق بنجاح
                  h5(align="right") لقد تمت مطابقة بياناتك بنجاح

