<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          خطأ!
        </h1>
        <h2>
          404 لم يتم العثور
        </h2>
        <div class="error-details">
          عذرا، حدث خطأ، الصفحة المطلوبة غير موجودة!
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <i class="fa fa-sign-in"></i>
            تسجيل الدخول 
          </a>
          <a href="http://www.naga.ly" target="_blank" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> 
            اتصل بنا
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
