<form accept-charset="utf-8" name="addUserForm" role="form" autocomplete="off" ng-submit="addUser()">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <br/>
      <h3 class="title">إضافة مستخدم جديد</h3>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-group">
        <label class="control-label">الاسم</label>
        <input class="form-control" name="name" ng-model="name" type="text" placeholder="الاسم" required>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="control-label">رقم الهاتف</label>
        <input class="form-control" name="phone" ng-model="phone" dir="ltr" type="text" placeholder="رقم الهاتف" required>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-group">
        <label class="control-label">البريد الالكتروني</label>
        <input class="form-control" name="email" ng-model="email" ng-remote-validate="/admin/isRegistered/" ng-remote-throttle="800" ng-remote-method="GET" type="email" placeholder="البريد الالكتروني" required>
        <i style="position:absolute; margin:-32px;" class="fa fa-spinner fa-pulse fa-2x" ng-show="addUserForm.email.$pending"></i>
        <span ng-show="addUserForm.email.$error.ngRemoteValidate" style="position:absolute;color:red;">هذا البريد موجود مسبقا!</span>
        <span ng-show="addUserForm.email.$error.email" style="position:absolute;color:red;">الرجاء ادخال بريد الكتروني صالح</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="control-label">تأكيد البريد الالكتروني</label>
        <input class="form-control" name="confirmEmail" ng-model="confirmEmail" data-match-verify="email" type="email" placeholder="تأكيد البريد الالكتروني" required>
        <span ng-show="addUserForm.confirmEmail.$error.matchVerify && !addUserForm.email.$error.email && addUserForm.email.$error.ngRemoteValidate && email.length" style="position:absolute;color:red;">البريد الالكتروني ليس مطابق</span>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-group">
        <label class="control-label">كلمة المرور</label>
        <input class="form-control" name="password" ng-model="password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-minlength="8" ng-maxlength="20" type="password" placeholder="كلمة المرور" required>
        <span ng-show="addUserForm.password.$error.pattern" style="position:absolute;color:red;font-size:11.5px;">يجب ان تحتوي كلمة المرور علي حروف كبيرة وصغيرة وارقام</span>
        <span ng-show="(addUserForm.password.$error.minlength || addUserForm.password.$error.maxlength) && !addUserForm.password.$error.pattern" style="position:absolute;color:red;">يجب أن تكون كلمة المرور بين 8 و 20 حرفا</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label class="control-label">تأكيد كلمة المرور</label>
        <input class="form-control" name="confirmPassword" ng-model="confirmPassword" data-match-verify="password" type="password" placeholder="تأكيد كلمة المرور" required>
        <span ng-show="addUserForm.confirmPassword.$error.matchVerify && password.length" style="position:absolute;color:red;">عفوا كلمة المرور ليست متطابقة</span>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <button type="submit" class="btn btn-primary form-control" ng-disabled="addUserForm.$invalid || addUserForm.$pending">
        <i class="fa fa-user-plus"></i>
        إضافة
      </button>
    </div>
  </div>
<form>