<form accept-charset="utf-8" role="form" ng-submit="check()">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <br/>
      <h3 class="title">الرجاء تعبئة البيانات للمطابقة</h3>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="form-group">
        <label class="control-label">الرقم الوطني</label>
        <input class="form-control" ng-model="nid" type="text" placeholder="الرقم الوطني">
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="form-group">
        <label class="control-label">رقم القيد</label>
        <input class="form-control" ng-model="regnum" type="text" placeholder="رقم القيد">
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="form-group">
        <label class="control-label">رقم القرار</label>
        <input class="form-control" ng-model="lawnum" type="text" placeholder="رقم القرار">
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <input type="submit" class="btn btn-primary form-control" value="تحقق"/>
    </div>
  </div>
<form>