<form accept-charset="utf-8" name="checkForm" role="form" ng-submit="check()" autocomplete="off">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <br/>
      <h3 class="title">الرجاء تعبئة البيانات</h3>
      <br/>
    </div>
    <div class="col-lg-4 text-left start-important">
      <br/>
      <br/>
      <i class="fa fa-star-o"></i>
      <span> حقول اجبارية</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-group">
        <i class="fa fa-star-o"></i>
        <label class="control-label">الاسم رباعي</label>
        <input class="form-control" name="fname" ng-model="name" type="text" placeholder="الاسم رباعي" ng-pattern="/[ا-ي])+/" required>
        <span ng-show="checkForm.fname.$error.pattern" style="position:absolute;color:red;">الرجاء ادخال حروف عربية فقط!</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <i class="fa fa-star-o"></i>
        <label class="control-label">الرقم الوطني</label>
        <input class="form-control" name="nid" ng-model="nid" ng-remote-validate="/user/hasNid/" ng-remote-throttle="800" ng-remote-method="GET" type="text" placeholder="الرقم الوطني" ng-maxlength="12" ng-minlength="12" required>
        <i style="position:absolute; margin:-32px;" class="fa fa-spinner fa-pulse fa-2x" ng-show="checkForm.nid.$pending"></i>
        <span ng-show="checkForm.nid.$error.ngRemoteValidate" style="position:absolute;color:red;">الرقم الوطني موجود مسبقا!</span>
        <span ng-show="checkForm.nid.$error.maxlength" style="position:absolute;color:red;">الرقم الوطني غير صحيح, الرجاء إعادة الادخال</span>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="form-group">
        <i class="fa fa-star-o"></i>
        <label class="control-label">رقم القيد</label>
        <input class="form-control" ng-model="regnum" type="text" placeholder="رقم القيد" required>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <i class="fa fa-star-o"></i>
        <label class="control-label">رقم القرار او سنة القرار</label>
        <input class="form-control" ng-model="lawnum" type="text" placeholder="رقم القرار او سنة القرار" required>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <input type="submit" class="btn btn-primary form-control" value="تحقق" ng-disabled="checkForm.$invalid"/>
    </div>
  </div>
<form>