<!-- <h2>الرئيسية</h2>
<h4>مرحبا بك</h4> -->
<br/>
<br/>
<br/>
<br/>
</br>
<form name="confirmForm" ng-submit="confirm()">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <uib-progressbar class="progress-striped active" value="33.3333" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
      <br/>
      <uib-progressbar class="progress-striped active" value="66.666" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
      <br/>
      <uib-progressbar class="progress-striped active" value="100" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
    </div>
  </div>