<form>
  <br/><br><br>
  <div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">ملاحظة : هذه الجزئية خاصة للعاملين بالدولة فقط</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">جهة العمل</label>
                <input type="text" class="form-control" ng-model="job">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">المنطقة</label>
                <input type="text" class="form-control" ng-model="area">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label class="control-label">المرتب الاساسي</label>
                <input type="text" class="form-control" ng-model="salary" required>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
              <button type="button" ng-click="addJobInfo()" class="btn btn-info btn-block">تأكيد</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>