<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" ng-submit="register()" name="registerForm">
        <h3>الرجاء التسجيل</h3>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="email" name="email" ng-model="email" ng-remote-validate="/user/isRegistered/" ng-remote-throttle="800" ng-remote-method="GET" class="form-control" placeholder="البريد الالكتروني" tabindex="3" style="line-height: 30px;">
              <span class="message" ng-show="registerForm.email.$pending">validating...</span>
              <span ng-show="registerForm.$error.ngRemoteValidate">هذا البريد موجود مسبقا!</span>
              <span ng-show="registerForm.$error.email">هذا!</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="تأكيد البريد الالكتروني" tabindex="4" style="line-height: 30px;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" ng-model="password.new" class="form-control" placeholder="كلمة المرور" tabindex="5" style="line-height: 30px;">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input type="password" ng-model="confirmPassword" ng-match="password.new" class="form-control" placeholder="تأكيد كلمة المرور" tabindex="6" style="line-height: 30px;">
              <span ng-show="registerForm.confirmPassword.$error.match">
                عفوا كلمة المرور ليست متطابقة
              </span>
            </div>
          </div>
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" value="تسجيل" ng-disabled="myForm.$invalid || myForm.$pending" class="btn btn-primary btn-block" tabindex="7"></div>
          <div class="col-xs-12 col-md-6"><a href="/#/" class="btn btn-success btn-block">دخول</a></div>
        </div>
      </form>
    </div>
  </div>
</div>