<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form" name="restoreForm" ng-submit="restore()">
        <fieldset>
          <h3>استعادة كلمة المرور</h3>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="email" ng-model="email" class="form-control" placeholder="البريد الالكتروني" style="line-height: 30px;" required>
            <span ng-show="restoreForm.$error.email" style="position:absolute;color:red;">الرجاء ادخال بريد الكتروني صالح</span>
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <button type="submit" class="btn btn-success btn-block" ng-disabled="restoreForm.$invalid">إستعادة
              </button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="/" class="btn btn-primary btn-block">دخول</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>