<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <fieldset>
          <h3>استعادة كلمة المرور</h3>
          <hr class="colorgraph">
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="البريد الالكتروني" style="line-height: 30px;">
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <input type="submit" class="btn btn-success btn-block" value="إستعادة">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="#/" class="btn btn-primary btn-block">دخول</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>