<form data-ng-init="init()">
  <div class="row">
    <div class="col-xs-3 col-lg-2">
      <a href="#/students" class="btn btn-info btn-block">عرض الطلبة</a>
    </div>
    <div class="col-xs-5 col-lg-3">
      <a href="#/notMatching" class="btn btn-danger btn-block">الطلبة الغير مؤكدين</a>
    </div>
    <div class="col-xs-4 col-lg-2">
      <a href="#/matching" class="btn btn-success btn-block">الطلبة المتاطابقين</a>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">عرض الطلبة جميعا</h3>
        </div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="text-center" colspan="5" style="border-left:1px solid;">
                البيانات من الطالب
              </th>
              <th class="text-center" colspan="3">
                البيانات من إدارة البعثات
              </th>
            </tr>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">الرقم الوطني</th>
              <th class="text-center">رقم القيد</th>
              <th class="text-center">الاسم</th>
              <th class="text-center" style="border-left:1px solid;">الدولة</th>
              <th class="text-center">رقم القرار</th>
              <th class="text-center">الاسم</th>
              <th class="text-center">الدولة</th>
              <th class="text-center">حالة التطابق</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" colspan="9" ng-show="!students.length">
                <h4>
                  <strong>لاتوجد بيانات</strong>
                </h4>
              </td>
            </tr>
            <tr ng-repeat="student in students">
              <td class="text-center">
                {{$index + 1}}
              </td>
              <td class="text-center">
                {{student.user.nid}}
              </td>
              <td class="text-center">
                {{student.user.regnum}}
              </td>
              <td class="text-center">
                {{student.user.name}}
              </td>
              <td class="text-center" style="border-left:1px solid;">
                {{student.user.country}}
              </td>
              <td class="text-center">
                {{student.mofedbase.lawnum}}
              </td>
              <td class="text-center">
                {{student.mofedbase.name}}
              </td>
              <td class="text-center">
                {{student.mofedbase.country}}
              </td>
              <td class="text-center">
                <span class="label label-warning" ng-show="student.user.verified == 2" style="font-size:10px;padding:10px;">غير مؤكدة</span>
                <button type="button" class="btn btn-info btn-sm" ng-show="student.user.verified == 2" ng-click="getVerifyID(student._id)" data-toggle="modal" data-target="#verify">
                  تأكيد
                </button>
                <span class="label label-success" ng-show="student.user.verified == 3" style="font-size:10px;padding:8px;">مطابق</span>
                <span class="label label-info" ng-show="student.user.verified == 3" style="font-size:10px;padding:8px;">{{student.admin.name}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <uib-pagination total-items="total" ng-model="currentPage" items-per-page="pageSize" previous-text="السابق" next-text="التالي" ng-click="init()"></uib-pagination>
    </div>
  </div>
  <div class="modal fade" id="verify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">رسالة تحذير</h3>
        </div>
        <div class="modal-body">
          <h4>هل تريد فعلا التاكيد علي هذه البيانات ؟</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">لا</button>
          <button type="button" class="btn btn-info" ng-click="verify()" data-dismiss="modal">نعم</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</form>